<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="img/159561.jpg">
        <p>{{name}}</p>
        <p> I'm 19 years old.</p>
        <p> Currently on my 4ยบ semester of Computer Science.</p>
    </div>
    
    {{>footer}}
</body>

</html>